In [82]:
import selenium
from selenium import webdriver
import pandas as pd
import time

https://the-internet.herokuapp.com/tables

In [83]:

from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# Path to your ChromeDriver executable
driver_path = r"C:\Windows\chromedriver.exe"

# Create a Service object
service = Service(driver_path)

# Initialize the WebDriver with the Service object
driver = webdriver.Chrome(service=service)

# Test by opening a website
driver.get("https://the-internet.herokuapp.com/tables")

In [84]:
table_no1= driver.find_element('id','table1')
coloumns_name = [i.text for i in table_no1.find_elements('tag name','th')]
print(coloumns_name)

['Last Name', 'First Name', 'Email', 'Due', 'Web Site', 'Action']

In [85]:
due_ele =None
for i in table_no1.find_elements('tag name','th'):
  if i.text =='Due':
    due_ele=i
print(due_ele)

<selenium.webdriver.remote.webelement.WebElement (session="b0ed477e72d879beb9ab06e5f9a9839a", element="f.A0DAA34A19EC9BD2C8F60E26C80D8C5C.d.AB2E6C18D2AF972F60ABE3E81D84CFFB.e.5")>

In [90]:
due_ele.click()
time.sleep(5)
due_ele.click()

In [91]:
data_name=(table_no1.find_element('tag name','tbody').find_elements('tag name','tr'))
print(data_name)

[<selenium.webdriver.remote.webelement.WebElement (session="b0ed477e72d879beb9ab06e5f9a9839a", element="f.A0DAA34A19EC9BD2C8F60E26C80D8C5C.d.AB2E6C18D2AF972F60ABE3E81D84CFFB.e.13")>, <selenium.webdriver.remote.webelement.WebElement (session="b0ed477e72d879beb9ab06e5f9a9839a", element="f.A0DAA34A19EC9BD2C8F60E26C80D8C5C.d.AB2E6C18D2AF972F60ABE3E81D84CFFB.e.12")>, <selenium.webdriver.remote.webelement.WebElement (session="b0ed477e72d879beb9ab06e5f9a9839a", element="f.A0DAA34A19EC9BD2C8F60E26C80D8C5C.d.AB2E6C18D2AF972F60ABE3E81D84CFFB.e.10")>, <selenium.webdriver.remote.webelement.WebElement (session="b0ed477e72d879beb9ab06e5f9a9839a", element="f.A0DAA34A19EC9BD2C8F60E26C80D8C5C.d.AB2E6C18D2AF972F60ABE3E81D84CFFB.e.11")>]

In [92]:
per_row=[]
for dta in data_name:
  # print(dta)
  per_row.append(
    [i.text for i in dta.find_elements('tag name','td')]
  )
print(per_row)

[['Doe', 'Jason', 'jdoe@hotmail.com', '$100.00', 'http://www.jdoe.com', 'edit delete'], ['Bach', 'Frank', 'fbach@yahoo.com', '$51.00', 'http://www.frank.com', 'edit delete'], ['Smith', 'John', 'jsmith@gmail.com', '$50.00', 'http://www.jsmith.com', 'edit delete'], ['Conway', 'Tim', 'tconway@earthlink.net', '$50.00', 'http://www.timconway.com', 'edit delete']]

In [ ]:
df=pd.DataFrame(per_row,columns=coloumns_name)
df
driver.quit()

,Last Name,First Name,Email,Due,Web Site,Action
0,Doe,Jason,jdoe@hotmail.com,$100.00,http://www.jdoe.com,edit delete
1,Bach,Frank,fbach@yahoo.com,$51.00,http://www.frank.com,edit delete
2,Smith,John,jsmith@gmail.com,$50.00,http://www.jsmith.com,edit delete
3,Conway,Tim,tconway@earthlink.net,$50.00,http://www.timconway.com,edit delete