Code to Extract the data from the table of the Example 1 from the site theinternet-herokuapp in which we go to the table Link and extract all the importent part from it

In [9]:
import selenium 
import pandas as pd
import time
from selenium import webdriver

'https://the-internet.herokuapp.com/tables'

In [10]:
driver = webdriver.Chrome()
driver.get('https://the-internet.herokuapp.com/tables')

In [85]:
table_element= driver.find_element('id','table1')

In [86]:
due_ele =None
for i in table_element.find_elements('tag name','th'):
  if i.text == 'Due':
    due_ele = i

In [95]:
due_ele.click()
time.sleep(5)
# due_ele.click()

In [96]:
column__data=  driver.find_element('id','table1')
column_name = [i.text for i in column__data.find_elements('tag name','th')]

data_format = table_element.find_element('tag name','tbody').find_elements('tag name','tr')

In [97]:
new_data_set =[]
for row in data_format:
  new_data_set.append([ i.text for i in row.find_elements('tag name','td')])
  
new_data_set

[['Doe',
  'Jason',
  'jdoe@hotmail.com',
  '$100.00',
  'http://www.jdoe.com',
  'edit delete'],
 ['Bach',
  'Frank',
  'fbach@yahoo.com',
  '$51.00',
  'http://www.frank.com',
  'edit delete'],
 ['Smith',
  'John',
  'jsmith@gmail.com',
  '$50.00',
  'http://www.jsmith.com',
  'edit delete'],
 ['Conway',
  'Tim',
  'tconway@earthlink.net',
  '$50.00',
  'http://www.timconway.com',
  'edit delete']]

In [112]:
dataform=pd.DataFrame(new_data_set,columns=column_name)

# pd.DataFrame(new_data_set,columns=column_name,index=['','','',""])

In [113]:
dataform.to_csv('dataframe.csv',index=False)